[user]
    email = karl.kallavus@gmail.com
    name = Karl Kallavus

[alias]
    st = status
    hist = log --oneline --graph --all --decorate
    hr = log --oneline --graph --all --decorate -n 30
    co = checkout
    ci = commit
    br = branch
    ds = diff --staged

[push]
    default = simple

